<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} </title>
    <script src="{{ url_for('static', filename='js/validaciones.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/miEstilo.css') }}"/>
</head>
<body>
    <nav>
        <ul>
            {% if g.user %}
                <li> <a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
            {% else %}
                <li> <a href="{{ url_for('register') }}">Registrarse</a></li>
                <li> <a href="{{ url_for('login') }}">Iniciar sesión</a></li>
            {% endif %}
            <li> <a href="{{ url_for('contactUs') }}">Contactenos</a></li>
        </ul>
    </nav>

    <section class="content">
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        <h1>{% block mainTitle %} {% endblock %}</h1>
        {% block content %}{% endblock %}
    </section>
</body>
</html>