<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Contáctenos </h1>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            <p>
                {{ form.name.label }}
                {{ form.name(size=30) }}
            </p>
        </div>
        <div>
            <p>
                {{ form.email.label }}
                {{ form.email(size=30) }}
            </p>
        </div>
        <div>
            <p>
                {{ form.message.label }}
                {{ form.message(size=30) }}
            </p>
        </div>
        <div>
            <p>{{ form.send() }}</p>
        </div>
    </form>
</body>
</html>