{% extends "base.html" %}
{% block title %} Registro {% endblock %}
{% block mainTitle %} Registro para vacunación COVID-20 {% endblock %}

{% block content %}
    <form name="formulario" method="post" action="{{ url_for('register') }}">
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" />
        </div>
        <div>
            <label for="username">Usuario</label>
            <input type="text" name="username" id="username" />
        </div>
        <div>
            <label for="email">Correo electrónico</label>
            <input  name="email" id="email" />
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" />
            <img src="{{ url_for('static', filename='images/view.png') }}"
            onmouseover="mostrarPassword();"
            onmouseout="ocultarPassword();"/>
        </div>
        <input type="submit" value="Registrarse">
    </form>
{% endblock %}


